:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --opacity-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --heder-bg-color: #ffffff;
  --bacik-bg-color: #e5e5e5;
  --second-bg-color: #2f303a;
  --tomato-outline: tomato;
}
